# as of 1 oct 2020 -emd


# ignore everything in the root except /wp-content and /icons
/*
!wp-content/
!icons/


# DO track these root files
!manifest.json
!.editorconfig
!README.md
!.gitignore


# ignore any theme files that start with zz-
wp-content/themes/**/zz-*


# DON'T track most of wp-content/
# the intent is to track just wp-content/themes/
wp-content/index.php
wp-content/infinitewp/
wp-content/mu-plugins/
wp-content/plugins/
wp-content/uploads/
wp-content/upgrade/


# DON'T track Wordpress themes
wp-content/themes/twenty*/


# DON'T track system files
*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db
gulpfile.js
package.json
static-config.json
node_modules/


# DON'T track these WP Engine-specific files
.smushit-status
.gitattributes
_wpeprivate*


# DON'T track large files
# a CDN should be used for these
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi





# ignore previously tracked content
#
# N0TE: this method momentarily deletes newly ignored content from server
#
# 1. update .gitignore and note content that's newly ignored
#
# $ git rm -r --cached .
# $ git add .
# $ git commit
# $ git push
#
# 2. after push use S/FTP to post newly ignored content back to server



# output tracked files on master
#
# $ git ls-tree -r master --name-only



# example remote add
#
# $ git remote add dev git@git.wpengine.com:production/dev.git
#
# repo is named "dev"



# .GITIGNORE RULES

# src: https://stackoverflow.com/questions/17888695/difference-between-gitignore-rules-with-and-without-trailing-slash-like-dir-an

# /dir will match a file, directory, link, anything named dir
# /dir/ will match only a directory named dir
# /dir/* will match all files, directories and anything else inside a
# directory named dir (but not the dir directory itself).
