/* ------------------------
 Blocks
------------------------ */


// Hero / Cover
.wp-block-cover {
  min-height: 15rem;
  color: white;
}



// Media
.wp-block-media-text {
  &> figure + .wp-block-media-text__content,
  &> .wp-block-media-text__content + figure {
    padding-top: 2rem;
  }

  &.has-media-on-the-right {
    &> figure + .wp-block-media-text__content,
    &> .wp-block-media-text__content + figure {
      padding-top: 2rem;
    }
  }
}


.gutenberg-section.-no-hero + .gutenberg-section {
  .gutenberg-section.core-paragraph:first-of-type p {
    margin-top: 0;
  }
  .gutenberg-section.core-heading:first-of-type {
    h1, h2, h3, h4, h5 {
      margin-top: 0;
    }
  }
}


.wp-block-media-text.has-media-on-the-right .wp-block-media-text__media {
  -ms-grid-column: 1;
  grid-column: 1;
}


.wp-block-media-text__media {
  -webkit-justify-self: center;
   -moz-justify-self: center;
    -ms-justify-self: center;
     justify-self: center;
}

.wp-block-media-text.-home-image-quote .wp-block-media-text__content {
  padding-right: 0;
  padding-left: 0;
}


figure { margin-left: 0; }
    figure,
    figure[class*="align"] { margin-bottom: 0; }
.wp-block-image figcaption { margin-bottom: 0; }


.wp-block-embed  {
  margin-right: 0;
  margin-left: 0;

  &.aligncenter iframe { display: block; margin-right: auto; margin-left: auto; }

  iframe {
    max-width: 100%;
  }
}







// Home - Text/Media
.page-template-page-home [data-role="main"] > .gutenberg-section:first-of-type  {
  &.core-media-text .wp-block-media-text__media {
    @include align-self(flex-end);
  }
}

.page-template-page-home [data-role="main"] > .gutenberg-section:first-of-type {
  .wp-block-media-text > figure + .wp-block-media-text__content,
  .wp-block-media-text > .wp-block-media-text__content + figure {
    padding-top: 0;
  }
}





// Columns
.wp-block-columns {
  margin-bottom: 0;
  @include justify-content(center);

  .wp-block-column { max-width: 32rem; }
}



// Group
.wp-block-group__inner-container {
  @extend %container;
}






// hr
// Separator
.wp-block-separator {
  height: .75rem;
  background: $lavender2;
  border: none;
  margin: 0;
}



.wp-block-quote {
  @include flex;
  @include flex-direction(column);
  @include justify-content(center);
}



// overriding Wordpress block default
// between 601 px wide and 782 px wide
@media (min-width: 37.5rem) and (max-width: 48.75rem) {
  // Columns - small
  .-columns-small > .wp-block-column { flex-basis: 100% !important; }

  .wp-block-column:nth-child(2n),
  .wp-block-column:not(:first-child) { margin-left: 0; }

}

@media (min-width: 48.75rem) {
  .wp-block-columns.-columns-small { @include flex-wrap(wrap); }
  .-columns-small > .wp-block-column { flex-basis: 100%; }

  .wp-block-column:nth-child(2n),
  .wp-block-column:not(:first-child) { margin-left: 0; }
}
