/* ------------------------
 Colors
------------------------ */


$nearblack: #1e1e1e;


$magenta: #bc076d;
//$magenta-highlight: #f5d99a;
//$magenta-highlight: #f5d99a;
//$magenta-highlight: #f9bf3c;
//$magenta-highlight: #f5c358;
$magenta-highlight: #efd9f5; 
$mauve: #68043c;



$lavender0: #f2eff4;  // very very light - used in nav
$lavender1: #efd9f5;  // light - used in nav
$lavender2: #9764a3;  // caption bg
$lavender3: #f6ebf1;  // surprise! lavender that's midway between lavender and cream, used for gradient

$cream1: #fcfbee;     // the lightest - used in gradient with $lavender1
$cream2: #fbefd4;     // quote (talk bubble) bg, sidebar input bg
$cream3: #e6c9ac;     // quote (glyph) color, circle image border
$cream4: #f5d99a;     // highlight bg
$cream5: #fdf3dd;     // 2nd quote (talk bubble) bg
$cream6: #f1b122;     // sidebar submit active/hover

$gray1: #e3e0db;      // input bottom border
$gray5: #555555;      // sidebar link color


// legacy
$blue1: #008998;
