/* ------------------------
 Forms
------------------------ */


%arialrounded { font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif; }


%input {
  @extend %arialrounded;
  min-width: 13rem;
  max-width: 100%;
  border-top: none;
  border-right: none;
  border-bottom: .3rem solid lightgray;
  border-left: none;
  font-size: 1rem;
  padding: .666rem .1rem;

  -webkit-appearance: none;
  @include border-radius(0);

  @include transition-one(border-bottom);

  @include placeholder { color: $nearblack; font-size: 1rem; }

  @include hover {
    border-bottom: .3rem solid $magenta;
  }
}






//[type="color"],
//[type="date"],
//[type="datetime-local"],

//[type="file"],
//[type="image"],
//[type="month"],

//[type="range"],
//[type="tel"],
//[type="url"]
[type="search"],
[type="text"],
[type="email"],
[type="password"] { @extend %input; }


[type="search"]::-webkit-search-cancel-button {
  @include transform(0deg, 1, 0deg, 0, -.17rem);
}


// buttons
[type="reset"],
[type="submit"] {

  @extend %leaguespartan;

  background-color: $magenta;
  border: none;
  color: white;
  padding: .943rem 1.2rem .75rem;
  position: relative;
  text-transform: uppercase;

  @include transition-one(background-color);

  @include hover { background-color: $mauve; cursor: pointer; }

  &[disabled] {
    background: gray;
    color: lightgray;
    &:hover { background: gray; cursor: default; }
  }
}



%textarea {
  @extend %input;
  border: .3rem solid lightgray;
  @include transition-one(border);

  @include hover {
    border: .3rem solid $magenta;
  }
}

textarea {  @extend %textarea; }



label { line-height: 1.8; }



// checkmark
[type="checkbox"] {
  width: 3rem;
  height: 3rem;
  display: inline-block;
  margin: -2rem 0 0;
  position: relative;
   top: 1rem;
   left: -1rem;
  vertical-align: bottom;

  @include hover { cursor: pointer; }

  &:before {
    width: 1.3rem;
    height: 1.3rem;
    background: $gray1;
    content: '';
    display: block;
    position: absolute;
     top: calc(50% - .65rem);
     left: calc(50% - .65rem);
  }

  &:after {
    width: 1.5rem;
    height: 1.5rem;
    content: '';

    position: absolute;
     top: calc(50% - .75rem);
     left: calc(50% - .55rem);
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
  }
}


.wpforms-field-mailchimp [checked]:checked:after,
.wpforms-field-checkbox .wpforms-selected [type="checkbox"]:after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='534' height='498' overflow='visible'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M527 0h2c.833 3.167 2.917 5.083 5 7v2C384.214 141.872 266.867 307.213 175 498h-5C113.416 432.253 57.273 366.057 0 301v-1c4.274-1.06 3.447-7.22 9-7 44.714 26.953 90.984 52.349 137 78C251.142 225.48 370.326 93.99 527 0z'/%3E%3C/svg%3E");
}





// Contact
// WP Forms

// hide text labels
.wpforms-field-name [for],
.wpforms-field-text [for],
.wpforms-field-email [for],
.wpforms-field-textarea [for] {
  @extend %hidden;
}

.wpforms-field-limit-text {
  @extend %leaguespartan;
  @extend %small;
  color: #bbb;
  font-style: italic;
  padding-top: .25rem;
  text-transform: uppercase;
}

.wpforms-container  {
  padding-top: 1rem;

  .wpforms-one-half, .wpforms-field-email, .wpforms-field-text {
    margin-bottom: 1.5rem;
  }

  // message
  .wpforms-field-textarea textarea {
    height: 20rem;
  }


  [type="search"], [type="text"], [type="email"], textarea { width: 100%; }

  .wpforms-field-mailchimp > [id*="wpforms"],
  .wpforms-field-checkbox  > [id*="wpforms"] {
    list-style-type: none;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 2rem;
    padding-left: 0;
  }
}



// Login
// Admin login
#loginform {

  label { @extend %hidden; }

  [type="text"], [type="password"], [type="submit"] {
    display: block;
  }

  [type="text"], [type="password"] {
    width: 18rem;
    margin-bottom: 1rem;
  }

  [type="submit"] { margin-top: 2rem; }
}





// Search
#navmenu .search {  // the form
  //background: $nearblack;
  position: relative;
}




// to avoid a blinking "black bar" when shifting browser width
#navmenu {
                                       .search-input, .search-submit { opacity: 0; }
  &[aria-expanded="true"] .search-bg { .search-input, .search-submit { opacity: 1; } }
}


#navmenu .search-input {
  @extend %leaguespartan;

  width: calc(100% - 6rem);
  background-color: $nearblack;
  color: white;
  border: none;
  font-size: 1rem;
  padding: 1.1rem 4rem .9rem 2rem;
  text-align: left;
  text-transform: none;

  @include border-radius(0);
  @include placeholder { color: white; text-transform: uppercase; }
  @include simple-box-shadow(0,0,0,transparent);
}

.search-submit {
  height: 100%;
  width: 6rem;
  background-color: transparent;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' overflow='visible'%3E%3Cpath fill='%23fff' d='M11.077 6.77c0-1.187-.422-2.2-1.265-3.044-.842-.843-1.857-1.264-3.042-1.264-1.187 0-2.2.421-3.044 1.264-.843.843-1.264 1.857-1.264 3.044 0 1.186.421 2.2 1.264 3.043.844.843 1.857 1.265 3.044 1.265 1.186 0 2.2-.422 3.043-1.265s1.264-1.858 1.264-3.043zm4.923 8c0 .333-.122.621-.365.865a1.185 1.185 0 01-.865.365c-.347 0-.635-.122-.865-.365l-3.299-3.289a6.581 6.581 0 01-3.836 1.192 6.662 6.662 0 01-2.63-.533 6.767 6.767 0 01-2.164-1.442A6.797 6.797 0 01.533 9.399 6.665 6.665 0 010 6.77c0-.917.178-1.794.533-2.63a6.786 6.786 0 011.443-2.164A6.786 6.786 0 014.14.533 6.662 6.662 0 016.77 0 6.67 6.67 0 019.4.533a6.78 6.78 0 012.163 1.442 6.767 6.767 0 011.442 2.164c.355.836.533 1.713.533 2.63 0 1.41-.397 2.688-1.192 3.836l3.299 3.299c.237.237.355.526.355.866z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: none;
  position: absolute;
   top: 0;
   right: 0;
}




// Footer enewsletter
// Mailchimp
.site-footer {
  [for] { @extend %hidden; }

  .mc4wp-form-fields {
    @include flex;
    @include align-items(center);
    @include flex-direction(column);
  }

  .mc4wp-form-fields p {
    display: block;
    width: 100%;
    max-width: 20rem;
    margin-top: 0;
  }

  [type="text"], [type="email"] {
    width: 100%;
    min-width: unset;
    padding-left: 1rem;
    padding-right: 1rem;
    @include placeholder { color: $nearblack; }
    @include hover { border-bottom: .3rem solid $mauve; }
  }

  [type="submit"] {

    background: $nearblack;
    display: block;
    font-size: .9rem;

    margin-right: auto;
    margin-bottom: .8rem;
    margin-left: auto;

    padding-top: 1rem;
    padding-bottom: 0.693rem;

    @include hover { background: $mauve; }
  }

  .mc4wp-response { text-align: center; }
}


.grecaptcha-badge { z-index: 999; }





// Sidebar
[data-role="main"] .col-sidebar {

  [type], textarea {
    background: $cream2;
    padding-right: 1rem;
    padding-left: 1rem;
    @include placeholder { color: $gray5; }

    @include transition-one(background);

    @include hover { background: $cream4; }
  }


  [type] { border-bottom: none; }

  textarea { border: none; }

  .wpforms-container .wpforms-field-textarea { padding-top: 0; }

  [href].wp-block-button__link,
  [type="submit"] {
    background: $cream4;
    color: $nearblack;
    @include transition-one(background);

    @include hover { background: $cream6; }
  }

  [href].wp-block-button__link { @extend %small; padding-top: .6rem; }
}
