/* ------------------------
 Global
------------------------ */


// Break points
%breakpoint {
  background: orange;
  content: 'MOBILE';
  //display: block;
  display: none;
  position: fixed;
   top: 0;
   left: 0;
  z-index: 999;
}

head + .logged-in [data-role="main"]:before { @extend %breakpoint; }




// Typography
html * {
  -webkit-font-smoothing: subpixel-antialiased;
   -moz-osx-font-smoothing: grayscale;
}

%arialrounded { font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif; }
%arialrounded blockquote { strong, b { background-color: $cream4; } }

%leaguespartan { font-family: 'League Spartan', 'Impact'; font-weight: 400; }
// rotate(deg), scale, skew(deg), translatex, translatey
%leaguespartan em { display: inline-block; font-style: normal; @include transform(0deg, 1, -5deg, 0, 0); }
.-leaguespartan { @extend %leaguespartan; }

%goudy { font-family: 'Goudy Old Style', Garamond, "Big Caslon", "Times New Roman", serif; }



body {
  @extend %arialrounded;
  color: $nearblack;
}

%monster   { font-size: 2.2rem; line-height: 1.2; }
%huger     { font-size: 2.2rem; line-height: 1.2; }
%huge      { font-size: 2rem; line-height: 1.2;  }
%large-h2  { font-size: 1.8rem; line-height: 1.2; }
%large     { font-size: 1.8rem; line-height: 1.44; }
%medium    { font-size: 1.125rem; line-height: 1.666; }
%text      { font-size: 1rem; line-height: 1.666; }
%small     { font-size: .85rem; line-height: 1.666; }



.has-small-font-size  { @extend %small;  }
.has-normal-font-size { @extend %text;   }
.has-medium-font-size { @extend %medium; }
.has-large-font-size  { @extend %large;  }

.has-huge-font-size { @extend %huge; }
.-huger             { @extend %huger; }

[data-role="main"] h1 {
  @extend %huge;
  @extend %leaguespartan;
  margin-bottom: 0;
  text-transform: uppercase;
}

[data-role="main"] {
  h2, h3, h4, h5, h6 { margin-top: 0; padding-top: .2rem; }
}

:-webkit-any(article, aside, nav, section) :-webkit-any(article, aside, nav, section) h1 {
  margin-block-start: .67em;
}



// on homepage, h2 looks like h1
.page-template-page-home [data-role="main"] .gutenberg-section.core-heading h2 {
  @extend %large-h2;
  @extend %leaguespartan;
  margin-bottom: 0;
  font-style: unset;
  text-transform: uppercase;
}


[data-role="main"] h2 {
  @extend %large-h2;
  @extend %goudy;
  margin-bottom: .25rem;
  font-style: italic;
  font-weight: 400;
}

[data-role="main"] h2.looks-like-h1 {
  @extend %leaguespartan;
  @extend %medium;
  font-style: normal;
  margin-bottom: 0;
  text-transform: uppercase;
}




// look like h3
.footer-h2,
.pagination-a,
[data-role="main"] h3,
.col-sidebar .-title {
  @extend %leaguespartan;
}

.col-sidebar .-title { @extend %leaguespartan; text-transform: uppercase; }

.col-sidebar .-title                 { @extend %small; }
.footer-h2                           { @extend %medium; }
.pagination-a, [data-role="main"] h3 { @extend %large; }


[data-role="main"] h3.looks-like-h2 {
  @extend %goudy;
  @extend %medium;
  font-style: italic;
}


[data-role="main"] .-latest-h3 { @extend %text; color: $gray5; text-transform: uppercase; }

[data-role="main"] { @extend %text; }

/*
%link-line {
  position: relative;
  text-decoration: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  @include linkgradient($mauve);
  @include transition-multi(background-image .2s ease-in-out, background-size .2s ease-in-out, color .2s ease-in-out);

  @include hover {
    background-size: 0 100%;
    @include linkgradient($mauve);
  }
}


[data-role="main"] [href] {
  color: $mauve;
  text-decoration: none;
  @extend %link-line;

  @include hover {
    color: $mauve;
  }
}
*/
[data-role="main"] [href].-no-line {
  background: none;
}


figcaption { @extend %small; color: $gray5; }



// Structure
// Container
.container-on-mobile,
%container,
%container-corset {
  width: 100%;
}

%container,
%container-corset {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.gutenberg-container .corset { @extend %container-corset; }



[data-role="main"] > .gutenberg-section:not(.core-cover) > .gutenberg-container,
.wp-block-cover-image .wp-block-cover__inner-container,
.wp-block-cover .wp-block-cover__inner-container,
.container {
  @extend %container;
}


[data-role="main"] {
  width: 100%;
  clear: left;
  display: block;
  float: left;
}


p { margin-bottom: .8rem; }
* p:last-of-type { margin-bottom: 0; }


#skip-link {
  background: white;
  position: absolute;
   top: .25em;
   left: .25em;
  z-index: 9999;

  &:active, &:focus {
    background: white;
    padding: .4em;
    @include border-radius(.1em);
  }
}




// Classes
.section {
  width: 100%;
  clear: both;
  float: left;

  &:last-of-type {
    @extend %clear;
  }
}
.clear { @extend %clear; }


.-desktop { display: none; }


.-txt-left { text-align: left; }
.-txt-right { text-align: right; }
.-txt-center { text-align: center; }




// link behavior
.a { display: block; }
a { @include hover { cursor: pointer; } }

%hidden {
  width: auto;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
   left: -99999px;
}

.sr-only { @extend %hidden; }

%sr-only-focusable,
.sr-only-focusable {
  @extend %hidden;

  &:focus {
    width: auto;
    height: auto;
    overflow: visible;
    position: unset;
     left: unset;
    @include clip-path( unset );
  }
}



%link-line {
  position: relative;
  text-decoration: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  @include linkgradient($mauve);
  @include transition-multi(background-image .2s ease-in-out, background-size .2s ease-in-out, color .2s ease-in-out);

  @include hover {
    background-size: 0 100%;
    @include linkgradient($magenta);
  }
}


[data-role="main"] [href] {
  color: $mauve;
  text-decoration: none;
  @extend %link-line;

  @include hover {
    color: $magenta;
  }
}



%clear {
  &:after {
    display: block;
    clear: both;
    content: '';
  }
}

%cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

%dark {
  background: black;
  color: white;

  a {
    color: white;
    @include hover {
      text-decoration: none;
    }
  }
}

.-nowrap, .nowrap { white-space: nowrap; }


.gutenberg-section.core-list li + li { padding-top: .5rem; }







// Wordpress Stuff
body.admin-bar .navbar-toggler { top: calc(1.5em + 32px); }
body.admin-bar #skip-link { top: calc(.25em + 32px); }


img, .img { display: block; }

[class*="wp-image"] { max-width: 100%; height: auto; }

.alignright {float:right; margin:0 0 1em 1em;}
.alignleft {float:left; margin:0 1em 1em 0;}
.aligncenter {margin-left:auto; margin-right:auto; margin-bottom:1.5em;}
a .alignright {float:right; margin:0 0 1em 1em;}
a .alignleft {float:left; margin:0 1em 1em 0;}
a .aligncenter {display: block; margin-left: auto; margin-right: auto;}


figure.aligncenter figcaption { text-align: center; }
figure.alignright figcaption  { text-align: right; }
