/* ------------------------
  Hero (text animation)
------------------------ */

$timing: 6s;


.-animate-text .core-heading {
  position: relative;
  padding-bottom: 3rem;
}

.-animate-text br { display: none; }



 .-fade1 { @include animation(fade_out, ease-in-out, 1, $timing);  }
 .-fade2 { @include animation(fade_in_out_2, ease-in-out, 1, $timing); }
 .-fade3 { @include animation(fade_in_out_3, ease-in-out, 1, $timing); }
 .-fade4 { @include animation(fade_in, ease-in-out, 1, $timing);  }

.-animate-text [data-aos] { position: relative; min-height: 3rem; }



.-animate-text [class*="-fade"] {
  @extend %huger;
  width: 100%;
  display: block;
  opacity: 0;
  position: absolute;
   top: 0;
  text-align: center;
}

.-animate-text .aos-animate [class*="fade"].-fade4 { opacity: 1; }





.page-template-page-home [data-role="main"] > .gutenberg-section:first-of-type {
  .wp-block-media-text > figure + .wp-block-media-text__content,
  .wp-block-media-text > .wp-block-media-text__content + figure {
    padding-top: 0;
  }
}





.page-template-page-home [data-role="main"] > .gutenberg-section:first-of-type { overflow: hidden; }

.page-template-page-home [data-role="main"] > .gutenberg-section .wp-block-media-text {
  @include flex;
  @include flex-direction(column-reverse);


  .wp-block-media-text__media {
    margin-right: auto;
    margin-left: auto;
  }

  .wp-block-media-text__content {
    display: block;
    width: 100%;
  }

  .wp-block-media-text__media,
  .wp-block-media-text__media [src] {
    width: 100%;
    height: auto;

    &[class*="wp-image"] {
      max-width: none;
    }
  }
}
