/* ------------------------
 Nav + Header
------------------------ */

$opennav_timing: .3s;
$mobile-nav-border-color: rgba(255,255,255,.44);


// Default - hide menu until main menu is set up
.menu { display: none; }


// I. Header
$navh: 6rem;
%nav-height { height: $navh; }
%nav-menu-position {  top: calc(#{$navh} - .05em); }
%nav-menu-minheight { min-height: calc(100vh - #{$navh}); }



.site-header {
  @extend %nav-height;
  @extend %clear;

  width: 100%;
  z-index: 999;

  &> .gutenberg-container, .logo-div { height: 100%; }

  .logo-a, .logo-img { display: block; }

  .logo-a {
    width: 13rem;
    height: calc(#{$navh} - 1rem);
    float: left;  // float: left so that clicking logo is disambiguated from clicking menu icon
    margin-top: .5rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    @include flex;
    @include align-items(center);
  }
}




// II. Nav
#navmenu {
  @extend %nav-menu-position;
  @extend %leaguespartan;

  width: 100%;
  background: $lavender0;
  position: absolute;
   left: 0;
  z-index: 900;

  [href] {
    display: block;
    text-decoration: none;
  }
}

// using .container-on-mobile allows for a smooth full height dropdown
// applying height to #navmenu looks choppy and bad
#navmenu > .container-on-mobile {
  //@extend %nav-menu-minheight;
  width: 100%;
  //height: 100%;
  margin: 0;
}



// no clip-path support? no animation!
.logo-div { background: yellow; }

.navbar-collapse {
  overflow-x: hidden;

  &.collapse {
    height: 0;
    overflow: hidden;
  }

  &.collapse.show {
    height: auto;
    position: relative;
  }
}



// clip-path support with aimation

@supports(-ms-clip-path: polygon(0 0, 100% 0) ) or (-o-clip-path: polygon(0 0, 100% 0) ) or (-moz-clip-path: polygon(0 0, 100% 0) ) or (-webkit-clip-path: polygon(0 0, 100% 0) ) or (clip-path: polygon(0 0, 100% 0) ) {

  .logo-div { background: none; }

  .navbar-collapse {
    overflow-x: hidden;

    &.collapse {
      height: auto;
      @include clip-path( polygon(0 0, 100% 0, 100% 0, 0 0) );
      @include transition-multi(clip-path .4s ease, -webkit-clip-path .4s ease);
    }

    &.collapse.show {
      @include clip-path( polygon(0 0, 100vw 0, 100vw 100%, 0 100%) );
      overflow-y: scroll;
      position: relative;
    }
  }
}





#navmenu .navbar-nav  {
  list-style-type: none;
  margin: 0;
  padding: 0;

  // position relative on ALL li allows for correct display
  // of current nav dot
  // on mobile
  .menu-item { position: relative; }  // li

  &> .menu-item:not(.menu-item-type-custom) > [href] {
    border-bottom: .05rem solid $mobile-nav-border-color;
  }
}


#navmenu .navbar-nav {  // div > ul
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  &> .menu-item {
    background: transparent;
    font-size: 1rem;
    position: relative;
    text-transform: uppercase;
    @include transition-one(background);

    &> [href] {
      padding: 1rem 1.5rem 1rem 2rem;
    }
  }


  &> .menu-item > [href],
  .sub-menu > li:not(.menu-item-type-custom) > [href] {
    width: 100%;
    color: $nearblack;
    display: inline-block;
    @include transition-multi(background .2s ease-in-out, color .2s ease-in-out);

    @include hover { color: $magenta; text-decoration: none; }
  }
}



// III. Nav toggle
.navbar-toggler:focus { outline: -webkit-focus-ring-color auto 5px; }

.navbar-toggler {
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: none;
  padding: 0;

  position: absolute;
   top: 1rem;
   right: 2rem;

  z-index: 910;

  .icon-bar {
    width: 80%;
    height: .2em;
    background: gray;
    display: block;
  }

  &> .opennav { position: absolute; left: 10%; }


  // middle
  &.collapsed > .opennav.-middle { opacity: 1; }
  &> .opennav.-middle {
    @extend %toggle_middle;
    @include transition(opacity, $opennav_timing, ease-in-out);
  }


  // the hamburger
  &.collapsed {
    &> .opennav.-top,
    &> .opennav.-bottom {
      @include rotate(0deg);
    }

    &>.opennav.-top {
      @extend %toggle_top;
      @include transform(0deg, (1,1), 0, 0, 0);
    }

    &>.opennav.-bottom {
      @extend %toggle_bottom;
      @include transform(0deg, (1,1), 0, 0, 0);
    }
  }


  // the x
  &[aria-expanded="true"] > .opennav {

    &.-top {
      @extend %toggle_top_bottom_collapsed;
      @include animation(toggle_top, ease-in-out, 1, $opennav_timing);
      @include transform(45deg, (1,1), 0, 0, 0);
    }

    &.-bottom {
      @extend %toggle_top_bottom_collapsed;
      @include animation(toggle_bottom, ease-in-out, 1, $opennav_timing);
      @include transform(-45deg, (1,1), 0, 0, 0);
    }

    &.-middle { opacity: 0; }
  }
}




// from x to hamburger
.navbar-toggler.user-collapsed.collapsed {
  &>.opennav.-top { @include animation(toggle_top_collapsed, ease-in-out, 1, $opennav_timing); }
  &>.opennav.-bottom { @include animation(toggle_bottom_collapsed, ease-in-out, 1, $opennav_timing); }
}




// IV. Nav submenu
#navmenu .navbar-nav .menu-item-has-children > .open-submenu-a {

  // 1. show the caret for top-level menu items with class .menu-item-has-children
  width: 7rem;
  height: 3.1rem;
  background-color: transparent;
  border-left: .05rem solid $mobile-nav-border-color;
  display: block;

  position: absolute;
   top: 0;
   right: 0;

  &:after {
    width: 7em;
    height: 3rem;
    transform: rotate(0deg) scale(1) skew(0deg) translateX(0px) translateY(0px);
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    @include transform(0deg, 1, 0, 0, 0);
    @include transition-multi(background-image .2s ease-in-out, -webkit-transform .2s ease-in-out, -moz-transform .2s ease-in-out, -ms-transform .2s ease-in-out, -o-transform .2s ease-in-out, transform .2s ease-in-out);

    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' overflow='visible'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' fill='%231E1E1E' d='M19.679 0L10.2 11.924 0 0h19.679z'/%3E%3C/svg%3E");
  }



  // 2. caret behavior on hover
  //    - cursor: pointer
  //    - change color
  @include hover {
    cursor: pointer;

    &:after {
      //background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='8' overflow='visible'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' fill='111111' d='M12.598 0L6.529 5.859 0 0h12.598z'/%3E%3C/svg%3E");
    }
  }



  // 3. caret behvaior on click (spins 180deg)
  &.mobile-show-submenu:after {
    @include transform(180deg, 1, 0deg, 0, 0);
  }



  // 4. show full submenu if
  //    - caret was clicked and submemu has class .mobile-show-submenu
  //    - current page is a child page of a menu item and strict.js adds .mobile-show-submemu to submenu
  &.mobile-show-submenu + .sub-menu {
    height: 100%;
    max-height: none;
  }


  // 5. default submenu appearance - hidden by height
  &+ .sub-menu {
    height: 0;
    max-height: 0;
    background: rgba(0,0,0,.03);
    display: block;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    text-transform: none;

    // 6. submenu item padding
    a:not([href*="#"]) { padding: 1rem 0 1rem 3.5rem; }
  }
}

// 7. submenu labels [href="#"]
#navmenu .sub-menu [href*="#"] {
  color: #696969;
  font-size: .9rem;
  font-style: italic;
  letter-spacing: .08rem;
  padding: 1rem 0 .5rem 3.5rem;

  @include hover { color: #696969; cursor: default;}
}

#navmenu .sub-menu > .menu-item-type-post_type + .menu-item-type-custom [href*="#"] {
  padding-top: 1.5rem;
}




// V. Current

// 1. Children or any current page
//    Defining the dot
%current-nav-a {

  &:before {
    display: block;
    content: '';
    width: .4rem;
    height: .4rem;
    @include border-radius(.2rem);
    background: $nearblack;

    position: absolute;
     top: 1.3rem;
     left: 1rem;
  }
}

//  All current children
//  get a black "current page" dot
#navmenu .sub-menu .current-menu-item > :not([href*=events]):not([href*=contact]) { @extend %current-nav-a; }



// xx 2. Parents or Top-Level pages
%current-page-or-current-parent-li {
  // shading
  //background: $lavender1;
}

#navmenu .navbar-nav > .current-menu-item,
#navmenu .navbar-nav > .current-menu-parent {
  // applying shading to current parents
  // or top-level current pages
  @extend %current-page-or-current-parent-li;
}


#navmenu .navbar-nav > li.current-menu-item  {
  // and don't forget, current top-level pages also get the dot
  &> a { @extend %current-nav-a; }
}



// VI. Special Buttons - Events and Contact
#navmenu .navbar-nav > .menu-item > [href*="events"] {
  background: $magenta;

  &:after {
    height: 1rem;

    background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='utf-8'?%3E%3C!-- Generator: Adobe Illustrator 15.0.0, SVG Export Plug-In --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd' [ %3C!ENTITY ns_flows 'http://ns.adobe.com/Flows/1.0/'%3E ]%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:a='http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/' x='0px' y='0px' width='19px' height='20px' viewBox='0 0 19 20' overflow='visible' enable-background='new 0 0 19 20' xml:space='preserve'%3E%3Cdefs%3E%3C/defs%3E%3Cpath fill='%23FFFFFF' d='M1.429,18.571h3.214v-3.214H1.429V18.571z M5.357,18.571h3.571v-3.214H5.357V18.571z M1.429,14.643h3.214 v-3.571H1.429V14.643z M5.357,14.643h3.571v-3.571H5.357V14.643z M1.429,10.357h3.214V7.143H1.429V10.357z M9.643,18.571h3.571 v-3.214H9.643V18.571z M5.357,10.357h3.571V7.143H5.357V10.357z M13.929,18.571h3.214v-3.214h-3.214V18.571z M9.643,14.643h3.571 v-3.571H9.643V14.643z M5.714,5V1.786c0-0.097-0.035-0.181-0.105-0.252c-0.071-0.07-0.154-0.105-0.251-0.105H4.643 c-0.097,0-0.181,0.035-0.251,0.105c-0.07,0.071-0.106,0.155-0.106,0.252V5c0,0.097,0.036,0.181,0.106,0.251 c0.07,0.071,0.154,0.106,0.251,0.106h0.715c0.097,0,0.18-0.035,0.251-0.106C5.679,5.181,5.714,5.097,5.714,5z M13.929,14.643h3.214 v-3.571h-3.214V14.643z M9.643,10.357h3.571V7.143H9.643V10.357z M13.929,10.357h3.214V7.143h-3.214V10.357z M14.285,5V1.786 c0-0.097-0.035-0.181-0.105-0.252c-0.071-0.07-0.154-0.105-0.251-0.105h-0.715c-0.097,0-0.18,0.035-0.251,0.105 c-0.07,0.071-0.105,0.155-0.105,0.252V5c0,0.097,0.035,0.181,0.105,0.251c0.071,0.071,0.154,0.106,0.251,0.106h0.715 c0.097,0,0.18-0.035,0.251-0.106C14.25,5.181,14.285,5.097,14.285,5z M18.571,4.286v14.285c0,0.387-0.142,0.722-0.424,1.005 C17.864,19.858,17.529,20,17.143,20H1.429c-0.387,0-0.722-0.142-1.005-0.424C0.142,19.293,0,18.958,0,18.571V4.286 c0-0.388,0.142-0.722,0.424-1.005c0.283-0.283,0.618-0.424,1.005-0.424h1.429V1.786c0-0.491,0.175-0.912,0.524-1.262 S4.151,0,4.643,0h0.715c0.49,0,0.911,0.175,1.261,0.524s0.524,0.771,0.524,1.262v1.071h4.286V1.786c0-0.491,0.175-0.912,0.524-1.262 S12.723,0,13.214,0h0.715c0.491,0,0.911,0.175,1.261,0.524s0.524,0.771,0.524,1.262v1.071h1.429c0.387,0,0.722,0.141,1.005,0.424 C18.43,3.564,18.571,3.898,18.571,4.286z'/%3E%3C/svg%3E");
  }
}


#navmenu .navbar-nav > .menu-item > [href*="contact"] {
  background: $mauve;

  &:after {
    height: .8rem;

    background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='utf-8'?%3E%3C!-- Generator: Adobe Illustrator 15.0.0, SVG Export Plug-In --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd' [ %3C!ENTITY ns_flows 'http://ns.adobe.com/Flows/1.0/'%3E ]%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:a='http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/' x='0px' y='0px' width='25px' height='20px' viewBox='0 0 25 20' overflow='visible' enable-background='new 0 0 25 20' xml:space='preserve'%3E%3Cdefs%3E%3C/defs%3E%3Cpath fill='%23FFFFFF' d='M23.636,17.728V6.818c-0.303,0.341-0.63,0.653-0.979,0.938c-2.538,1.95-4.556,3.551-6.052,4.801 c-0.482,0.407-0.876,0.725-1.179,0.952s-0.713,0.457-1.229,0.688c-0.517,0.232-1.002,0.349-1.456,0.349h-0.028 c-0.455,0-0.94-0.116-1.456-0.349c-0.517-0.231-0.926-0.461-1.229-0.688c-0.304-0.228-0.696-0.545-1.18-0.952 c-1.496-1.25-3.513-2.851-6.051-4.801c-0.351-0.284-0.677-0.597-0.98-0.938v10.909c0,0.123,0.045,0.229,0.136,0.319 c0.09,0.09,0.196,0.135,0.319,0.135h20.909c0.123,0,0.229-0.045,0.319-0.135S23.636,17.851,23.636,17.728z M23.636,2.799V2.45 l-0.007-0.185l-0.043-0.178L23.508,1.96L23.38,1.854l-0.198-0.035H2.272c-0.123,0-0.229,0.045-0.319,0.135 c-0.091,0.09-0.136,0.196-0.136,0.319c0,1.591,0.696,2.936,2.089,4.034c1.827,1.439,3.726,2.94,5.695,4.503 c0.057,0.048,0.223,0.188,0.497,0.419c0.275,0.232,0.493,0.41,0.653,0.533c0.161,0.123,0.372,0.271,0.633,0.447 c0.26,0.175,0.499,0.306,0.717,0.391s0.422,0.128,0.611,0.128h0.028c0.189,0,0.393-0.043,0.61-0.128s0.457-0.216,0.718-0.391 c0.26-0.176,0.471-0.324,0.632-0.447s0.379-0.301,0.653-0.533c0.274-0.231,0.44-0.371,0.497-0.419 c1.97-1.562,3.868-3.063,5.696-4.503c0.512-0.407,0.987-0.954,1.428-1.641S23.636,3.357,23.636,2.799z M25.454,2.272v15.455 c0,0.625-0.223,1.16-0.668,1.604C24.342,19.777,23.807,20,23.182,20H2.272c-0.625,0-1.16-0.223-1.605-0.668 C0.222,18.888,0,18.353,0,17.728V2.272c0-0.625,0.222-1.16,0.667-1.604C1.112,0.223,1.647,0,2.272,0h20.909 c0.625,0,1.16,0.223,1.604,0.668C25.231,1.112,25.454,1.647,25.454,2.272z'/%3E%3C/svg%3E");
  }
}


#navmenu .navbar-nav > .menu-item {
  &> [href*="events"], &> [href*="contact"] {
    color: white;

    @include hover { color: white; }

    &:after {
      width: 1rem;
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
      display: inline-block;
      margin-left: .4rem;
    }
  }
}


%current-nav-a-white {
  @extend %current-nav-a;
  color: white;
  &:before { background: white; }
}


#navmenu .navbar-nav > li.current-menu-item {
  &> [href*=events], &> [href*=contact] { @extend %current-nav-a-white; }
}
