@media print {

  body { color: black; }

  h1 { padding-bottom: .5rem; }

  .wp-block-media-text__media { padding-bottom: 2rem; }

  .navbar-collapse.collapse,
  .navbar-header { display: none; }

  .has-large-font-size,
  .has-medium-font-size,
  .has-normal-font-size,
  .has-small-font-size { font-size: 1rem; line-height: 1.666; }

  strong, b { font-weight: 400; }

  .has-text-align-center,
  .has-text-align-right { text-align: left; }

  .-highlight { background: transparent; color: black; }

  .-highlight,
  .-gradient-1,
  .-gradient-2 { background-image: none; }

  [data-role="main"] [href] { color: inherit; background-image: none; }

  .-leaguespartan { font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif; }

  .-mauve-bg, .-magenta-bg { background: transparent; color: black; }
  .wp-block-separator { display: none; }

  .core-spacer { display: none; }

  .wp-block-media-text .wp-block-media-text__content { padding-right: 0rem; padding-left: 0rem; }

  [data-role="main"]>.gutenberg-section:not(.core-cover)>.gutenberg-container,
  .wp-block-cover-image .wp-block-cover__inner-container,
  .wp-block-cover .wp-block-cover__inner-container,
  .container,
  .wp-block-group__inner-container,
  .gutenberg-container .corset,
  .wp-block-group__inner-container { padding-right: 2rem; padding-left: 2rem; }


  // hide media if not first section
  [data-role="main"] > .wp-block-group:not(:nth-of-type(2)),
  [data-role="main"] > .gutenberg-section:not(:nth-of-type(2)) {
    .wp-block-media-text { display: block; }
    .wp-block-media-text .wp-block-media-text__media { display: none; }
  }


  .wp-block-media-text>figure+.wp-block-media-text__content,
  .wp-block-media-text>.wp-block-media-text__content+figure {
    padding-top: 0;
  }

  .wp-block-columns { display: block; }

  .wp-block-quote { display: block; padding: 0; }
  .wp-block-quote:before, .wp-block-quote:after { display: none; }

  .wp-block-buttons { display: none; }

  .wp-block-quote p { font-size: inherit; line-height: inherit; }

  .wp-block-quote span { font-size: inherit !important; line-height: inherit !important; }

  [data-role="main"] .post-admin-link,
  [data-role="main"] .post-edit-link,
  .site-footer { display: none; }

}
