/* ------------------------
 Adaptive
------------------------ */




// Small devices (landscape phones, 37.5rem and up)
@media (min-width: 37.5rem) {


  // Breakpoint - small
  %breakpoint { background: yellow; content: 'SMALL'; }

  .site-footer .footer-brand-container [id*="text"] { text-align: right; }


}




// Medium devices (tablets, 48rem and up)
@media (min-width: 48rem) {


  // Breakpoint - medium
  %breakpoint { background: yellowgreen; content: 'MEDIUM'; }



  // Structure - medium
  %container-corset { margin-top: 0; margin-bottom: 0; }
  %container { margin-right: auto; margin-left: auto; }


  .-mobile { display: none; }
  .-desktop { display: block; }



  // Typography - medium
  %monster { font-size: 4rem;  }
  %huge    { font-size: 3rem; }
  %large   { font-size: 2.5rem;  }
  %medium  { font-size: 1.5rem; }
  %text    { font-size: 1rem; }
  %small   { font-size: .9rem; }



  // Header - medium
  .site-header { height: auto; }

  .site-header > .gutenberg-container {
    @include flex;
    @include flex-wrap(wrap);
  }


  $headerh: 6rem;
  $logoh: 5rem;

  .site-header .logo-div {
    display: block;
    float: left;
  }

  .site-header .logo-div { height: $headerh; }

  .site-header .logo-img { height: $logoh; width: auto; max-width: 100%; }




  .wp-block-cover .wp-block-cover__inner-container {
    [class*="core"]{ max-width: 50%; }
  }

  .home { .wp-block-cover, .wp-block-cover-image { min-height: 32em; } }



  // Nav - medium
  .navbar-toggler { display: none; }

  // undoing mobile stuff
  .navbar-collapse { overflow-x: unset; }
  .navbar-collapse.collapse,
  .navbar-collapse.collapse.show
  { display: block; clip-path: unset; }


                    .logo-div { float: left; }
  .gutenberg-container > .nav { float: right; }


  #navmenu > .container-on-mobile { width: auto; min-height: 0; }

  // top-level items with focus are laid out over subnav
  #navmenu .navbar-nav > .menu-item > [href]:focus { position: relative; z-index: 801; }



  // nav element heights 100%
  //.nav,
  .nav > #navmenu,
  .nav > #navmenu .navbar-nav { height: 100%; }


  #navmenu {
    width: auto;
    background: none;
    overflow: visible;
    position: static;
    margin-left: .5rem;
  }

  #navmenu .navbar-nav {
    width: auto;
    overflow: visible;

    @include flex;
    @include align-items(center);

    a {
      color: $nearblack;
    }
  }



  // Nav buttons - medium
  #navmenu .navbar-nav > li > [href*="events"]:after,
  #navmenu .navbar-nav > li > [href*="contact"]:after { display: none; }

  #navmenu .navbar-nav > li > [href*="events"]:not([href="#"]) { @include hover { background: $lavender2; } }
  #navmenu .navbar-nav > li > [href*="contact"]:not([href="#"]) { @include hover { background: $lavender2; } }

  #navmenu .navbar-nav > li {
    display: inline-block;
    font-size: .85rem;
    margin-right: .5rem;
    position: relative;
  }



  // Nav pad - medium
  $navpad_vertical: 1rem;
  $navpad_left: 1rem;
  $navpad_nochildren_right: $navpad_left;
  $navpad_haschildren_right: 1.2rem;
  $navpad_buttons_right: $navpad_left;

  #navmenu .navbar-nav > li {
    &:not(.menu-item-has-children) > a:not([href*="events"]):not([href*="contact"]) { padding-right: $navpad_nochildren_right;}

    &> [href*="events"], &> [href*="contact"] { padding-right: $navpad_buttons_right; }

    &.menu-item-has-children > a { padding-right: $navpad_haschildren_right; }

    &> a {
      padding-top: $navpad_vertical;
      padding-bottom: $navpad_vertical;
      padding-left: $navpad_left;
    }
  }

  #navmenu .navbar-nav > li > a:not([href*=events]):not([href*=contact]) {
    @include hover { color: $nearblack; }
  }

  #navmenu .navbar-nav > li > a:not([href="#"]) {
    @include transition(background, .3s, ease-in-out);
    @include hover { background: rgba(0,0,0,0.1); }
  }

  #navmenu .navbar-nav>li { border: none; }
  #navmenu .navbar-nav>li:last-of-type { border: none; }




  // Submenu - medium

  // hide mobile carets
  #navmenu .navbar-nav .menu-item-has-children > .open-submenu-a {
    width: $navpad_haschildren_right;
  }

  #navmenu .navbar-nav .menu-item-has-children > .open-submenu-a:after {
    width: $navpad_haschildren_right;
  }


  #navmenu .navbar-nav .menu-item-has-children > .open-submenu-a {
    height: 100%;
    border-left: none;
     right: 0;

    &:after {
      height: 100%;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='8' overflow='visible'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' fill='111111' d='M12.598 0L6.529 5.859 0 0h12.598z'/%3E%3C/svg%3E");
      background-position: .3rem 52%;
      background-size: 1rem;
      @include transform(0deg,1,0deg,0,0);
    }

    &.mobile-show-submenu:after { @include transform(0deg,1,0deg,0,0); }
  }


  #navmenu .navbar-nav .menu-item-has-children > .open-submenu-a + .sub-menu,
  #navmenu .navbar-nav .menu-item-has-children > .open-submenu-a.mobile-show-submenu + .sub-menu {
    width: 14rem;
    height: auto;
    background: white;
    display: block;
    overflow: visible;
    padding-top: .5rem;
    padding-bottom: .5rem;
    position: absolute;
     left: -9999px;
    z-index: 800;
    @include box-shadow( inset, 0, -.05rem, .12rem, rgba(0,0,0,.2));

    a {
      background: transparent;
      margin-right: 0;
      padding: .6em 1.44em .6em 1.5em;
      @include transition-one(background);

      @include hover {
        background: rgba(0,0,0,.1);
      }
    }
  }

  #navmenu .navbar-nav .menu-item-has-children.hover,
  #navmenu .navbar-nav .menu-item-has-children.show {
    &> .open-submenu-a + .sub-menu {
      left: 0;
    }
  }

  #navmenu .navbar-nav > li:first-of-type { margin-top: 0; }
  #navmenu .navbar-nav > li:last-of-type { margin-bottom: 0; }



  #navmenu ul > li > a { border-bottom: none; }  // undoing mobile



  #navmenu .navbar-nav > .menu-item-has-children {
    white-space: nowrap;

    &> ul { white-space: initial; }
  }



  // Dropdown menu - medium
  // Submenu - medium
  // Sub-menu - medium
  #navmenu .navbar-nav .menu-item-has-children {

    &> .open-submenu-a + .sub-menu  {
      max-height: unset;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      @include transition-multi(clip-path .3s ease-in-out, max-height .3s ease-in-out);

    }

    &.hover, &.show {
      &> .open-submenu-a + .sub-menu {
        max-height: 40rem;
        clip-path: polygon( -.5rem 0, calc(100% + .5rem) 0, calc(100% + .5rem) 100%, -.5rem calc(100% + .5rem));
      }
    }
  }




  // Current Children - medium
  // Current Nav Children - medium
  // ... on mobile this is the circle
  %current-nav-a:before { display: none; }


  // Current Parents - medium
  // Current Nav Top level - medium
  // Current Nav Parents - medium
  %current-page-or-current-parent-li {

    // ... on mobile bg is gray
    background: none;

    &:not(.menu-item-has-children) > a:not([href*=events]):not([href*=contact]) {
      &:after, &:before {
        // set width of underlines on childless top level nav items
        width: calc( (100% - (2 * #{$navpad_left}) ) / 2 );
      }
    }

    // underlines - medium
    &.menu-item-has-children > a:before,
    &.menu-item-has-children > a:after {
      // set width of underlines on parent top level nav items
      width: calc( (100% - ( #{$navpad_left} + #{$navpad_haschildren_right} ) ) / 2);
      background: $nearblack;
    }

    // set position of left underline - same for all top level nav items
    &> a:before { left: $navpad_left;  }

    // set position of al right underlines
    // fudging these values just a smidge
    &> a:not([href*="events"]):not([href*="contact"]) {
      &:after { right: calc( #{$navpad_nochildren_right} + .15rem); }
    }


    // style underlines on top level nav items
    &> a:not([href*="events"]):not([href*="contact"]):before,
    &> a:not([href*="events"]):not([href*="contact"]):after {
      height: .06rem;
      background: $nearblack;
      content: '';
      display: block;
      position: absolute;
       top: unset;
       bottom: 0;
      @include border-radius(0);
    }
  }



  // Search - medium
  #navmenu {

    .container-on-mobile { @include flex; @include justify-content(flex-end); }

    $bw: 3.063rem;

    // form.search, sibling to .nav.navbar-nav
    .search {
      background: none; // undoing mobile
      @include flex;
      @include align-items(center);
    }

    // button
    [href="#display-search"] {
      display: block;
      width: $bw;
      height: $bw;
      background: transparent;
      color: $nearblack;
      position: relative;

      @include flex;
      @include align-items(center);
      @include justify-content(center);
      @include transition-one(background-color);

      // the magnifying glass
      &:after {
        content: '';
        width: 1rem;
        height: 1rem;
        background-color: transparent;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' overflow='visible'%3E%3Cpath fill='%231E1E1E' d='M11.077 6.77c0-1.187-.422-2.2-1.265-3.044-.842-.843-1.857-1.264-3.042-1.264-1.187 0-2.2.421-3.044 1.264-.843.843-1.264 1.857-1.264 3.044 0 1.186.421 2.2 1.264 3.043.844.843 1.857 1.265 3.044 1.265 1.186 0 2.2-.422 3.043-1.265s1.264-1.858 1.264-3.043zm4.923 8c0 .333-.122.621-.365.865a1.185 1.185 0 01-.865.365c-.347 0-.635-.122-.865-.365l-3.299-3.289a6.581 6.581 0 01-3.836 1.192 6.662 6.662 0 01-2.63-.533 6.767 6.767 0 01-2.164-1.442A6.797 6.797 0 01.533 9.399 6.665 6.665 0 010 6.77c0-.917.178-1.794.533-2.63a6.786 6.786 0 011.443-2.164A6.786 6.786 0 014.14.533 6.662 6.662 0 016.77 0 6.67 6.67 0 019.4.533a6.78 6.78 0 012.163 1.442 6.767 6.767 0 011.442 2.164c.355.836.533 1.713.533 2.63 0 1.41-.397 2.688-1.192 3.836l3.299 3.299c.237.237.355.526.355.866z'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        display: block;

        @include transition-one(background-image);
      }

      // button hover state
      @include hover {
        background-color: $nearblack;
        color: white;
        text-decoration: none;

        &:after {
          @include transition-one(background-image);

          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' overflow='visible'%3E%3Cpath fill='%23FFF' d='M11.077 6.77c0-1.187-.422-2.2-1.265-3.044-.842-.843-1.857-1.264-3.042-1.264-1.187 0-2.2.421-3.044 1.264-.843.843-1.264 1.857-1.264 3.044 0 1.186.421 2.2 1.264 3.043.844.843 1.857 1.265 3.044 1.265 1.186 0 2.2-.422 3.043-1.265s1.264-1.858 1.264-3.043zm4.923 8c0 .333-.122.621-.365.865a1.185 1.185 0 01-.865.365c-.347 0-.635-.122-.865-.365l-3.299-3.289a6.581 6.581 0 01-3.836 1.192 6.662 6.662 0 01-2.63-.533 6.767 6.767 0 01-2.164-1.442A6.797 6.797 0 01.533 9.399 6.665 6.665 0 010 6.77c0-.917.178-1.794.533-2.63a6.786 6.786 0 011.443-2.164A6.786 6.786 0 014.14.533 6.662 6.662 0 016.77 0 6.67 6.67 0 019.4.533a6.78 6.78 0 012.163 1.442 6.767 6.767 0 011.442 2.164c.355.836.533 1.713.533 2.63 0 1.41-.397 2.688-1.192 3.836l3.299 3.299c.237.237.355.526.355.866z'/%3E%3C/svg%3E");
        }
      }
    }


    // search form - medium
    $sw: 30rem;  // width of search bg


    // search form defaults - medium
    .search-bg {
      width: $sw;
      height: $bw;
      color: white;
      position: absolute;
       top: calc(#{$bw} + .4rem);
       right: 0;
      z-index: 900;
    }

    .search-input, .search-submit { height: $bw; position: absolute; top: 0; z-index: 901; }

    .search-input  { width: $sw; display: block; text-align: center; }
    .search-submit { width: $bw; left: calc(#{$sw} - #{$bw}); }


    .search [aria-pressed="false"] + .search-bg { display: none; }
    .search [aria-pressed="false"] + .search-bg {
      .search-input, .search-submit {
        //@include transition-one(opacity);
        //@include transition-delay(1s);
        opacity: 0 !important;
      }
    }


    .search [role="button"] + .search-bg {
      background: transparent;
      @include transition-one(background);

      .search-input, .search-submit { opacity: 0; }
    }


    // show search - medium
    .search [role="button"][aria-pressed="true"] {
      background: $nearblack;
      background-position: 50% 50%;

      // the x
      &:after {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' overflow='visible'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' fill='%23FFF' d='M15.71 13.584l-2.121 2.121-5.73-5.73-5.738 5.738L0 13.592l5.738-5.738L.006 2.122 2.127 0l5.732 5.731L13.582.007l2.122 2.122L9.98 7.854l5.73 5.73z'/%3E%3C/svg%3E");
      }

      // the form elements
      &+ .search-bg {
        background: $nearblack;
        display: block;

        .search-input, .search-submit { @include animation(fadein, ease-in-out, 1, .2s); opacity: 1; }
      }
    }
  }




  // Blog - medium
  .meta-div {
    min-height: 2em;

    .meta-time { width: 25%; }
    .meta-author { width: 25%; }
    .meta-categories { width: 50%; }

    .meta-author, .meta-categories { border-top: 1px solid gray; }
  }




  // Footer - medium
   .footer-brand-container > .row > [id*="text"] { text-align: right; }

   .site-footer .footer-nav { padding-top: 1.5rem; }

}





// Medium-large - awkward spot
@media (min-width: 52rem) {
  %breakpoint { background: deeppink; content: 'MD-LG'; }


  $iw: calc(100% - 3rem); // input width (w/o button)
  $bw: 3.3rem;  // button width
  $lm: 1.5rem;  // left margin
  $sbgw: 100%;  // width of search bg

  #navmenu { margin-left: 0; }

              .nav { width: 100%; float: unset; }
  #navmenu .search { margin-right: 1.5rem; }



  #navmenu .navbar-nav > li > a { padding-top: 1rem; padding-bottom: 1rem; }

  #navmenu .navbar-nav > li > [href*="events"],
  #navmenu .navbar-nav > li > [href*="contact"],
  #navmenu .navbar-nav > li > [href*="events"]:after,
  #navmenu .navbar-nav > li > [href*="contact"]:after { @include flex; }

  #navmenu .navbar-nav > li > [href*="events"]:after { margin-top: -.1rem; }

  #navmenu .navbar-nav > li > [href*="events"],
  #navmenu .navbar-nav > li > [href*="contact"] { padding-right: .3rem; }

}




// Large devices (desktops, 62rem and up)
@media (min-width: 62rem) {

  // Breakpoint - large
  %breakpoint { background: dodgerblue; content: 'LARGE'; }


  // Structure - large
  $container: 57rem;
  %container { width: $container; }

  %container-corset { width: 48rem; margin-right: auto; margin-left: auto; }

  %container-gutter { width: calc( #{$container} - 3rem); margin-right: auto; margin-left: auto; }


  // Header - large
  // full-width header container on large
  .site-header > .gutenberg-container {
    width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;

    @include justify-content(space-between);
  }

  .site-header .logo-a { width: 11.5rem; padding-right: 0; padding-left: 0; }



  // Nav - large
  $headerh: 6rem;
  .site-header .nav { height: $headerh; }

  .gutenberg-container > .nav { width: auto; }

  $navpad_left: .9rem;
  $navpad_nochildren_right: $navpad_left;
  $navpad_haschildren_right: 1.1rem;
  $navpad_buttons_right: .4rem;


  // Nav pad - large
  // i. nav pad
  #navmenu .navbar-nav .menu-item-has-children > .open-submenu-a:after { width: $navpad_haschildren_right; }

  #navmenu .navbar-nav > li {
    &:not(.menu-item-has-children) > a:not([href*="events"]):not([href*="contact"]) {
      padding-right: $navpad_nochildren_right;
    }

    &> [href*="events"], &> [href*="contact"] { padding-right: $navpad_buttons_right; }

    // width of submenu caret
    &.menu-item-has-children > .open-submenu-a:after { width: $navpad_haschildren_right; }

    // space for submenu caret
    &.menu-item-has-children > a {
      padding-right: $navpad_haschildren_right;
    }

    // all the left pads are the same width
    &> a { padding-left: $navpad_left; }



    // Nav hover - large
    // ii. hover
    // li has no children and isn't Events / Contact
    &:not(.menu-item-has-children):not(.current-menu-item) > :not([href*="events"]):not([href*="contact"]) {

      a:before { left: 50%;  }
      a:after  { right: 50%; }

      @include hover {
        &:before, &:after  {
          width: calc( (100% - (2 * #{$navpad_left}) ) / 2 );
        }
      }
    }
  }


  // Nav current - large
  // iii. current
  %current-page-or-current-parent-li {

    // current parent or top level page does have children
    &.menu-item-has-children > a:before,
    &.menu-item-has-children > a:after {
      // set width of underlines on parent top level nav items
      width: calc( (100% - ( #{$navpad_left} + #{$navpad_haschildren_right} ) ) / 2);
    }

    &.menu-item-has-children > a:before { left: $navpad_left; }
    &.menu-item-has-children > a:after { right: $navpad_haschildren_right; }

    // current page has no children
    &:not(.menu-item-has-children) {
      &> a:not([href*="events"]):not([href*="contact"]) {
        &:after, &:before {
          width: calc( (100% - (2 * #{$navpad_left}) ) / 2 );
        }
        a:before { left: 50%;  }
        a:after  { right: 50%; }
      }
    }
  }


  // Nav - large
  // iv. search bar
  $bw: 3.1rem;  // button width
  #navmenu .search-bg { top: calc( #{$bw} + .45rem + ( (#{$headerh} - #{$bw}) / 2 ) ); }
  #navmenu .search { margin-right: 0; }



  // Sticky Footer - large
  .wrapper:after { content: ''; display: block; clear: both; }

  $footerh: 34rem;

  .wrapper[data-footer="has-pagination"] { min-height: 100vh; margin-bottom: -$footerh; }

  .wrapper[data-footer="has-pagination"]:after,
  .wrapper[data-footer="has-pagination"] + .site-footer { height:$footerh; }


  $footerh_nopagination: 23.15rem;

  .wrapper[data-footer="no-pagination"] { min-height: 100vh; margin-bottom: -$footerh_nopagination; }

  .wrapper[data-footer="no-pagination"]:after,
  .wrapper[data-footer="no-pagination"] + .site-footer { height:$footerh_nopagination; }



  // Footer - large
  .site-footer .footer-nav:after { left: 1rem; }

  .site-footer .footer-h2 { text-align: left; }
  .site-footer .menu[id*="social"] { margin-left: -1.25rem; }

  .menu[id*="social"] {
    padding-top: .8em;
    text-align: right;
    position: relative;
     right: -.5em;

    li a {
      width: 1.8em;
      height: 1.8em;

      &:before { font-size: 1.1rem; }
    }
  }

  #menu-footer {
    position: relative;
    left: -1.1em;
    text-align: left;
    li { font-size: .85rem; }
  }


  .footer-widgets-row { @include flex; }
  .col-footer[id*="nav"] { padding-right: 1rem; }
  .col-footer[id*="mc4wp"] { @include flex-grow(1); }

  .site-footer > .container-fluid {
                             &> .container { width: calc(100% - 3rem); padding: 0; }
    &.footer-social-container > .container { padding-right: 1.5rem; padding-left: 1.5rem; }
  }


  .site-footer .footer-widgets-row > .col-footer + .col-footer { padding-top: 0; }

  .site-footer .mc4wp-form-fields {
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include justify-content(space-between);
  }

  .site-footer [type="submit"] { width: 6rem; }

  .site-footer .mc4wp-form-fields p {
    width: calc( (100% - 9rem) / 3 );
    min-width: 12rem;

    &:last-of-type { width: 6rem; min-width: 6rem; }
  }
}




// Extra large devices (large desktops, 75rem and up)
@media (min-width: 75rem) {

  // Breakpoint - wide
  %breakpoint { background: mediumpurple; content: 'WIDE'; }


  // Structure - wide
  $container: 73rem;
  %container { width: $container; }

  %container-wide { width: calc(#{$container} - 30px); margin-right: auto; margin-left: auto; }

  %container-gutter { width: calc( #{$container} - 30px); }


  // Header - wide
  .site-header {
    width: 100%;
    background: white;
    position: fixed;
     top: 0;

   &> .gutenberg-container { width: $container; margin-right: auto; margin-left: auto; }
  }

  [data-role="main"] { padding-top: 6rem; }




  // Footer - wide
  .site-footer > .container-fluid > .container { width: calc( #{$container} - 3rem); }
  .site-footer .footer-nav:after { left: calc( (100% - #{$container}) / 2); }
  .col-footer[id*="nav"] { padding-right: 2rem; }

}
