/* ------------------------
  Blog
------------------------ */



.single-h1 [href] {
  background: none;
}


.meta-div { padding-bottom: 1rem; }

.meta-time {
  @extend %goudy;
  @extend %large;
  font-style: italic;
}



.meta-categories [href] {
  @extend %leaguespartan;
  @extend %small;

  background-color: $magenta;
  background-image: unset;
  color: white;
  display: inline-block;
  padding: .5rem 1rem .3rem;
  text-transform: uppercase;
  vertical-align: .4rem;

  @include transition-one(background-color);

  @include hover {
    background-color: $mauve;
    color: white;
  }
}



.col-sidebar > [id] {
  padding-right: 2rem;
  margin-top: 4rem;
  text-align: right;
}

.col-sidebar > [id*=wpforms] {
  background: $cream1;
  padding: 2rem;
}

.col-sidebar > [id] {
  ul {
    list-style-type: none;
    margin: 0;
    padding: .5rem 0 0 0;
  }
}

.col-sidebar > [id*="categories"] {

  li {
    @extend %leaguespartan;
    text-transform: uppercase;
  }

  [href] {
    background-image: none;
    color: $gray5;
    display: inline-block;
    padding-top: .4rem;
    padding-bottom: .4rem;
    @include transition-one(color);

    @include hover { color: $nearblack; }
  }
}
