/* ------------------------
  Blog
------------------------ */


article {
  margin-top: 2em;
  margin-bottom: 2em;

}

article:after {
  clear: both;
  content: '';
  display: block;
}




.meta-div {
   width: 100%;
   min-height: 4em;
   margin-bottom: 1.4em;

   display: -ms-flexbox;
    -webkit-display: flex;
     display: flex;

  align-items: -ms-stretch;
   -webkit-align-items: stretch;
    align-items: stretch;

  flex-wrap: -ms-wrap;
   -webkit-flex-wrap: wrap;
    flex-wrap: wrap;

   &:after {
     content: '';
     clear: both;
     display: block;
   }

  .meta-time, .meta-author, .meta-categories {
    display: -ms-flexbox;
     -webkit-display: flex;
      display: flex;

    align-items: -ms-center;
     -webkit-align-items: center;
      align-items: center;

   &> .span {
     display: inline-block;
     padding-right: 1em;
     padding-left: 1em;
   }
  }

  .meta-time { width: 100%; }
  .meta-author { width: 50%; }
  .meta-categories { width: 50%; }

  .meta-time {
    background: gray;
    color: white;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
  }

  .meta-author, .meta-categories {
    border-bottom: 1px solid gray;
    text-align: left;
  }

  .meta-author > .span, .meta-categories > .span {
    white-space: nowrap;
  }
}


.read-more {
  white-space: nowrap;
}


.meta-div .meta-author > .span, .meta-div .meta-categories > .span, .tags {
  &> .fa {
    color: navy;
  }
}



// Tags
.tags {
  font-size: .9rem;
  margin-top: 2em;
  letter-spacing: .01em;
  text-transform: uppercase;

  a {
    display: inline-block;
    margin-left: .2em;
    margin-right: .2em;
  }
}

.single-post .tags {
  border-top: .05em solid gray;
  border-bottom: .05em solid gray;

  &.-empty {
    border-top: none;
  }
}

.pagination-title {
  text-indent: 1em;
}



// Pagination - Single
$pagination-indent: .7em;

.pagination, .pagination-single { @extend %clear; }

.pagination-div {

  &.-prev .pagination-title { text-indent: $pagination-indent - .2em; }

  &.-next {
    float: right;
    text-align: right;

    .pagination-title {
      margin-right: $pagination-indent;
    }
  }


  a {
    background: rgba(0,0,0,0);
    display: block;
    float: left;
    padding: 1em;
    @include transition-one(background);

    @include hover {
      background: rgba(0,0,0,.08);
      text-decoration: none;
    }
  }

  .pagination-span {
    color: gray;
    font-size: .9rem;
    text-transform: uppercase;
    @include hover { color: gray; }
  }

  .pagination-title {
    display: inline-block;
    font-size: 1.2rem;
    line-height: 1.1;
  }
}



// Pagination - Archive
.pagination.-archive {
  font-size: 1.2rem;
  text-align: center;

  a, span {
    min-width: 1.5em;
    display: inline-block;
  }

  .current { color: white; position: relative; }

  .current:after {
    //background: $current-nav-bg;
    display: block;
    content: '';
    position: absolute;
     top: -.04em;
     left: 0;
    width: 1.5em;
    height: 1.5em;
    z-index: -1;
    border-radius: .75em;
  }
}




// Blog nav shows current when viewing archive / single / etc. pages

// change menu id as needed
.single, .archive {
  li#menu-item-96 {
    //@extend %current-top-nav;
  }
}
