/* ------------------------
 Blocks
------------------------ */


// Hero / Cover
.wp-block-cover {
  min-height: 15rem;
  color: white;
}



// Media
.wp-block-media-text > figure + .wp-block-media-text__content,
.wp-block-media-text > .wp-block-media-text__content + figure {
  padding-top: 2rem;
}



.wp-block-media-text .wp-block-media-text__content {
  padding: 0;
}


// Home - Text/Media
.page-template-page-home [data-role="main"] > .gutenberg-section:first-of-type  {
  &.core-media-text .wp-block-media-text__media {
    @include align-self(flex-end);
  }
}

.page-template-page-home [data-role="main"] > .gutenberg-section:first-of-type {
  .wp-block-media-text > figure + .wp-block-media-text__content,
  .wp-block-media-text > .wp-block-media-text__content + figure {
    padding-top: 0;
  }
}




// Group
.wp-block-group__inner-container {
  @extend %container;
}



// Buttons
[data-role="main"]  [href].wp-block-button__link {
  @extend %button;
  white-space: nowrap;
}

[data-role="main"] .-magenta-bg [href].wp-block-button__link {
  @extend %button-dark;
}

[data-role="main"] .-lavender-bg [href].wp-block-button__link {
  @extend %button-lavender;
}


[class*="is-content-justification"] { @include flex; }
.is-content-justification-left { @include justify-content(flex-start); }
.is-content-justification-center { @include justify-content(center); }
.is-content-justification-right { @include justify-content(flex-end); }




// hr
// Separator
.wp-block-separator {
  height: .75rem;
  background: $lavender2;
  border: none;
  margin: 0;
}
