/* ------------------------
 Colors
------------------------ */


$nearblack: #1e1e1e;


$magenta: #bc076d;
$mauve: #68043c;

$lavender0: #f2eff4;  // very very light - used in nav
$lavender1: #efd9f5;  // light - used in nav
$lavender2: #976ea3;  // darker

$cream1: #fcfbee;     // the lightest - used in gradient with $lavender1
$cream2: #fbefd4;     // quote 9talk bubble) bg
$cream3: #e6c9ac;     // quote (glyph) color
$cream4: #f5d99a;     // highlight bg

$gray1: #e3e0db;      // input bottom border



// legacy
$blue1: #008998;
$gray1: #888;
