/* ------------------------
 Forms
------------------------ */


%input {
  @extend %arialrounded;
  border-top: none;
  border-right: none;
  border-bottom: .3rem solid lightgray;
  border-left: none;
  font-size: 1rem;
  padding: .666rem .1rem;
  @include transition-one(border-bottom);

  @include placeholder { font-size: 1rem; }

  @include hover {
    border-bottom: .3rem solid $magenta;
  }
}


input {
  &[type="text"],
  &[type="color"],
  &[type="date"],
  &[type="datetime-local"],
  &[type="email"],
  &[type="file"],
  &[type="image"],
  &[type="month"],
  &[type="password"],
  &[type="range"],
  &[type="tel"],
  &[type="url"] {
    @extend %input;
  }



  // buttons
  &[type="reset"],
  &[type="submit"] {

    @extend %leaguespartan;

    background: $magenta;
    border: none;
    color: white;
    padding: .666rem 1.2rem;
    position: relative;
    text-transform: uppercase;

    @include transition-one(background);

    @include hover { background: $mauve; cursor: pointer; }

    &[disabled] {
      background: gray;
      color: lightgray;
      &:hover { background: gray; cursor: default; }
    }

  }
}


label { line-height: 1.8; }


// Login

#loginform {

  label { @extend %hidden; }

  input[type="text"], input[type="password"], input[type="submit"] {
    display: block;
  }

  input[type="text"], input[type="password"] {
    width: 18rem;
    margin-bottom: 1rem;
  }

  input[type="submit"] { margin-top: 2rem; }
}





// Search
#navmenu .search {  // the form
  background: $nearblack;
  position: relative;
}


#navmenu [href="#display-search"]:after { @extend %fontawesome-solid; }


// to avoid a blinking "black bar" when shifting browser width
#navmenu {
           .search-input, .search-submit { opacity: 0; }
  &.show { .search-input, .search-submit { opacity: 1; } }
}


#navmenu .search-input {
  @extend %leaguespartan;

  width: calc(100% - 6rem);
  background-color: $nearblack;
  color: white;
  border: none;
  font-size: 1rem;
  padding: 1.1rem 4rem .9rem 2rem;
  text-align: left;
  text-transform: none;

  @include border-radius(0);
  @include placeholder { color: white; text-transform: uppercase; }
  @include simple-box-shadow(0,0,0,transparent);
}

.search-submit {
  background: none;
  border: none;
  position: absolute;
   top: .8rem;
   right: 2rem;

  -webkit-appearance: none;

  &:after {
    color: white;
    content: '\f002';
    display: block;
    font-family: 'Font Awesome 5 Solid';
    font-size: 1.3rem;
  }
}
