/*
Error: Invalid CSS after "... - 1.00001rem))": expected "{", was ";"
        on line 92 of sass/_later.scss

87:    color-stop(.99, transparent),
88:    color-stop(1,magenta)
89:   );
90:   *\/
91: 
92:   background-image: -o-linear-gradient(180deg, transparent calc(100% - 1rem), $magenta-highlight calc(100% - 1.00001rem));
93:   background-image: -moz-linear-gradient(180deg, transparent calc(100% - 1rem), $magenta-highlight calc(100% - 1.00001rem));
94:   background-image: -webkit-linear-gradient(180deg, transparent calc(100% - 1rem), $magenta-highlight calc(100% - 1.00001rem)); .800001rem));
95:   background-image: -ms-linear-gradient(180deg, transparent calc(100% - 1rem), $magenta-highlight calc(100% - 1.00001rem));
96:   background-image: linear-gradient(180deg, transparent calc(100% - 1rem), $magenta-highlight calc(100% - 1.00001rem));
97: }

Backtrace:
sass/_later.scss:92
/Users/erica/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/scss/parser.rb:1179:in `expected'
/Users/erica/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/scss/parser.rb:1115:in `expected'
/Users/erica/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/scss/parser.rb:1110:in `tok!'
/Users/erica/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/scss/parser.rb:654:in `block'
/Users/erica/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/scss/parser.rb:724:in `declaration_or_ruleset'
/Users/erica/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/scss/parser.rb:674:in `block_child'
/Users/erica/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/scss/parser.rb:666:in `block_contents'
/Users/erica/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/scss/parser.rb:655:in `block'
/Users/erica/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/scss/parser.rb:647:in `ruleset'
/Users/erica/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/scss/parser.rb:673:in `block_child'
/Users/erica/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/scss/parser.rb:666:in `block_contents'
/Users/erica/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/scss/parser.rb:123:in `stylesheet'
/Users/erica/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/scss/parser.rb:39:in `parse'
/Users/erica/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/engine.rb:403:in `_to_tree'
/Users/erica/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/Users/erica/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/engine.rb:295:in `render_with_sourcemap'
/Users/erica/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/Users/erica/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/erica/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:209:in `each'
/Users/erica/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/erica/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:471:in `on_file_changed'
/Users/erica/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:328:in `block in watch'
/Users/erica/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/vendor/listen/lib/listen/listener.rb:252:in `call'
/Users/erica/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/Users/erica/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/Users/erica/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/vendor/listen/lib/listen/adapters/polling.rb:48:in `call'
/Users/erica/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/vendor/listen/lib/listen/adapters/polling.rb:48:in `poll_changed_directories'
/Users/erica/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"... - 1.00001rem))\": expected \"{\", was \";\"\A         on line 92 of sass/_later.scss\A \A 87:    color-stop(.99, transparent),\A 88:    color-stop(1,magenta)\A 89:   );\A 90:   */\A 91: \A 92:   background-image: -o-linear-gradient(180deg, transparent calc(100% - 1rem), $magenta-highlight calc(100% - 1.00001rem));\A 93:   background-image: -moz-linear-gradient(180deg, transparent calc(100% - 1rem), $magenta-highlight calc(100% - 1.00001rem));\A 94:   background-image: -webkit-linear-gradient(180deg, transparent calc(100% - 1rem), $magenta-highlight calc(100% - 1.00001rem)); .800001rem));\A 95:   background-image: -ms-linear-gradient(180deg, transparent calc(100% - 1rem), $magenta-highlight calc(100% - 1.00001rem));\A 96:   background-image: linear-gradient(180deg, transparent calc(100% - 1rem), $magenta-highlight calc(100% - 1.00001rem));\A 97: }"; }
